* {
    box-sizing: border-box;
    text-align: center;
}
/* edit it  */
@media only screen and (max-width: 767px) {
body {
    margin: auto;
    align-items: center;
}
main {
    margin: auto;
    width: 480;
    height: 767px;
    align-items: center;
    
}
    
}
