/* for mobile  */
@media only screen and (max-width: 767px) {
   main {
       display: grid;
       grid-template-rows:75px 980px;
   }
    .a {
        width: 100%;
        height: 75px;
        line-height: 75px;
    }

    .b {
        width: 100%;
        height: 150px;
        line-height: 150px;
    }

    .c {
        width: 100%;
        height: 125px;
        line-height: 125px;
    }

    .d {
        width: 100%;
        height: 125px;
        line-height: 125px;
    }

    .e ,.g {
        width: 100%;
        height: 250px;
        line-height: 250px;
    }

    .f , .h{
        width: 100%;
        height: 250px;
        line-height: 250px;
    }

    .i {
        clear: both;
        width: 100%;
        height: 80px;
        line-height: 80px;
    }

    .left , .right {
        display: grid;
        grid-template-columns: 50% 50% ;
        width: 100%;
    }

}

/* for desktops  */
@media only screen and (min-width: 768px) {
 
    .a {
        width: 100%;
        height: 100px;
        line-height: 100px;
    }
    .upper ,.left, .right{
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .div3 {
        display: grid;
        grid-template-columns:  50% 50%;
    }
    .b {
        width: 20.83%;
        height: 602px;
        line-height: 600px;
        float: left;
    }

    .c {
        width: 100%;
        height: 200px;
        line-height: 200px;
        /* float: left; */
    }

    .d {
        width: 100%;
        height: 200px;
        line-height: 200px;
        /* float: right; */
    }

    /* .left {
        /* float: left; */
        /* width :39.583%; */
    /* } */

    /* .right {
        float: right;
        width :39.583%;
     /* } */

    .i {
        /* float: right; */
        display: inline-block;
        width: 79.166%;
        height: 150px;
        line-height: 150px;
        /* clear: both; */
        
    }

    .e ,.g {
        /* float: left; */
        width: 100%;
        height: 250px;
        line-height: 250px;
    }

    .f , .h{
        /* float: right; */
        width: 100%;
        height: 250px;
        line-height: 250px;
    }
    main {
        /* display: inline; */
    }
    
    .div1 {
        /* display: flex; */
        /* flex-wrap:wrap; */

    }
    /* .div2 { 
        display: grid;
        grid-template-rows:18.95% 23.696% 14.218%;    } */
    /* .upper , .left, .right {
        display: grid;
        grid-template-columns: 50% 50%;
        
    } */
    /* .div2 {
        display: grid;
        grid-template-rows:18.95% 23.696% 14.218%;

    } */
}