body {
    background-color: white;
}
div {
    background-color: #d8d8d8;
}
aside {
    background-color: #d8d8d8;
}

/* for mobile  */
@media only screen and (max-width: 767px) {

    div {
        border: 1px solid #4e4e4e;
    }

    .b { 
        border: 1px solid #4e4e4e;
        border-top: none;
    }

    .c , .d ,.i{
        border-top: none;
    }

    .e , .f ,.g, .h{
        border-top: none;
    }

    .f ,.h {
        border-left: none;
    }

    .i {
        background-color: #d8d8d8;
    }

}

/* for desktops  */
@media only screen and (min-width: 768px) {
 
    div {
        border: 1px solid #4e4e4e;
    }
    
    .b { 
        border: 1px solid #4e4e4e;
        border-top: none;
        border-right: none;
    }

    .c , .d ,.i ,.e ,.f, .g , .h{
        border-top: none;
    }

    .d , .f , .h ,.g {
        border-left:none ;
    }

}